body{
    /* background: url(bokeh-background-skyscraper-buildings-downtown-city-lights-blurry-photo-night-time-illuminated-cityscape-bokeh-160005003.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #2a2b2c;
}


@media only screen and (max-width: 600px) {
    body {
        position: relative;
        transform: scale(0.33);
        rotate: 90deg;
        top: 330px;
        left: 105px;
    }
}


.frame{
    background-color: #212832;
    height: 900px;
    width: 1600px;

    position: absolute;
    display: inline-block;
    top: 11%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    /* style ui & stuff*/
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #13131388;
    border-radius: 5px;
}

.framerightside{
    position: absolute;
    top: 46%;
    left: 60%;
    display: grid;
    grid-template-columns: 26% 26% 26% 26%;
    grid-template-rows: 35% 35% 35% 35%;
}

.button{
    width: 150px;
    height: 150px;
    background-color: #31475c;
    border-radius: 2px;
    border-color: transparent;

    color: white;
    font-size: 35px;
    font-weight: 500;
}
.color1{
    background-color: #416d32;
}
.color3{
    background-color: #b96e30;
}
.color4{
    background-color: #6d737a;
}

.button:hover{
    color: #31475c;
    background-color: #ffffff;
    transition: background-color 1.5s linear;
}

.button:active {
    color: #31475c;
    background-color: #ffffff;
    transform: translateY(4px);
}



.frameleftside{
    position: absolute;
    top: 46%;
    right: 28.2%;
    display: grid;
    grid-template-columns: 18% 18% 18%;
    grid-template-rows: 15% 15% 15%;
    width: 70%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    border-color: transparent;
}

.matrix1row1{
    background-color: #31475c;
    border-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.matrix1row2{
    background-color: #31475c;
    border-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.matrix1row3{
    background-color: #31475c;
    border-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.matrix1row4{
    background-color: #31475c;
    border-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.matrix1row1:hover{
    background-color: #31475c;
    transition: background-color .5s linear;
    outline: none;
}
.matrix1row2:hover{
    background-color: #31475c;
    transition: background-color .5s linear;
    outline: none;
}
.matrix1row3:hover{
    background-color: #31475c;
    transition: background-color .5s linear;
    outline: none;
}
.matrix1row4:hover{
    background-color: #31475c;
    transition: background-color .5s linear;
    outline: none;
}

.matrix2row1{
    background-color: #31475c;
    border-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.matrix2row2{
    background-color: #31475c;
    border-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.matrix2row3{
    background-color: #31475c;
    border-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.matrix2row4{
    background-color: #31475c;
    border-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.matrix2row1:hover{
    background-color: #31475c;
    transition: background-color .5s linear;
    outline: none;
}
.matrix2row2:hover{
    background-color: #31475c;
    transition: background-color .5s linear;
    outline: none;
}
.matrix2row3:hover{
    background-color: #31475c;
    transition: background-color .5s linear;
    outline: none;
}
.matrix2row4:hover{
    background-color: #31475c;
    transition: background-color .5s linear;
    outline: none;
}

input[type=text]{
    outline: none;
}

input[type=number]{
    outline: none;
    width: 142px;
    height: 144px;
    text-align: center;
}

.outputwindow{
    display: grid;
    position: absolute;
    left: 1.8%;
    top: 0.2%;
    width: 96.5%;
    height: 45%;
    
    background-color: #31475c;
    border-color: transparent;
    color: white;
    font-size: 50px;
    font-weight: 500;
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.outputtext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.gap{
    height: 0.01px;
}

.slideshow{
    display: grid;
    position: absolute;
    top: 46%;
    left: 40.5%;
    grid-template-columns: 50%;
}

.frameleftsideorder2{
    position: absolute;
    top: 46%;
    right: 30.8%;
    display: grid;
    grid-template-columns: 28% 28%;
    grid-template-rows: 20% 20%;
    width: 67.5%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    border-color: transparent;
}

.frameleftsideorder4{
    position: absolute;
    top: 46%;
    right: 20.1%;
    display: grid;
    grid-template-columns: 12% 12% 12% 12%;
    grid-template-rows: 11.8% 11.8% 11.8% 11.8%;
    width: 78%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    border-color: transparent;
}

